jenkins:
  topic: 'build'
  url: ""
  password: ""
  user: ""
  jobs:
    - proj

coffee:
  endpoint: 'https://api.thingspeak.com/channels/125608/fields/1.json?sum=daily&timezone=Europe/Warsaw&days=1'
  topic: 'coffee'

lunching:
  endpoint: 'https://api.lunching.pl/api/account/order-list'
  topic: 'food'
  username: ''
  password: ''

mqtt:
  host: ''
  username: ''
  password: ''
  port: 0

button:
  topic: 'button'
  recipient: 0
  messages:
    - "."
    - ".."

hipchat:
  mode: 'room'
  topic: 'presence'
  token: ''
  team:
    - emails@gmail.com
