[Unit]
Description=lamp.py Service
After=network.target ntpdate.service

[Service]
Environment=PATH=/home/pi/lamp.py/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=python3 -u src/lam.py
WorkingDirectory=/home/pi/lam.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
