#define WIFI_NAME ""
#define WIFI_PASSWORD ""

#define ENDPOINT_HOST ""
#define ENDPOINT_USER ""
#define ENDPOINT_PASSWORD ""

#define PIX_COUNT 44
#define LED_PIN D5
#define PIN_STATUS_LED D2
#define PIN_ACTION_BUTTON D3
