#define WIFI_NAME ""
#define WIFI_PASSWORD ""

#define ENDPOINT_HOST ""
#define ENDPOINT_USER ""
#define ENDPOINT_PASSWORD ""

#define PIXEL_COUNT 44
#define PIN_LED_STRIP D5
#define PIN_STATUS_LED D2
#define PIN_ACTION_BUTTON D3

#define LIGHT_BRIGHTNESS 100

#define MQTT_HOST ""
#define MQTT_PORT 0
#define MQTT_USER ""
#define MQTT_PASSWORD ""

#define MQTT_TOPIC_BUILD "build"
#define MQTT_TOPIC_PRESENCE "presence"
#define MQTT_TOPIC_BUTTON "button"

#define OTA_HOST ""
#define OTA_PORT 0
#define OTA_PASSWORD ""
